{% if collection.metafields.custom_fields["dendrobium_pflegen"] != blank %}
  <div class="custom-field custom-field__dendrobium-pflegen custom-field__type--html">
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["dendrobium_pflegen"] }}
    </div>
  </div>
{% endif %}