{% if collection.metafields.custom_fields["buttom_description"] != blank %}
  <div class="custom-field custom-field__buttom-description custom-field__type--text">
    <h3 class="custom-field--title">buttom_description</h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["buttom_description"] }}
    </div>
  </div>
{% endif %}