<div class="footer__title">
  Versandmöglichkeiten
</div>

<ul class="footer__menu">
  <li><i class="fa fa-check" style="padding-right: 5px;"></i>Paketversand</li>
  <li><i class="fa fa-check" style="padding-right: 5px;"></i>Spedition</li>
  <li><i class="fa fa-check" style="padding-right: 5px;"></i>Abholung vor Ort</li>
</ul>