<div class="footer__title">
  {%- if block.settings.title == blank -%}
    {{ linklists[block.settings.menu].title }}
  {%- else -%}
    {{ block.settings.title }}
  {%- endif -%}
</div>

<div>
<ul style="list-style-type: none">
  <li style="width: 100%;"><i class="fas fa-sort-amount-up" style="color: #ffffff;"></i>Keine Mindestmengen</li>
  <li style="width: 100%;"><i class="far fa-coin" style="color: #ffffff;"></i>Individueller Zuschnitt</li>
  <li style="width: 100%;"><i class="fas fa-box-open" style="color: #ffffff;"></i>Schneller Versand</li>
</ul>
</div>
