<div class="footer__title">
  Vorteile
</div>

<ul class="footer__menu">
  <li><i class="fa fa-check"></i>Keine Mindestmengen</li>
  <li><i class="fa fa-check"></i>Individueller Zuschnitt</li>
  <li><i class="fa fa-check"></i>Schneller Versand</li>
</ul>