<div class="page-width">
<div class="rich-text-sidebar-container">
  {{ section.settings.side-title }}
  <img src="{{ section.settings.image | img_url:'master' }}" height=100 width=100 loading="lazy"/>
  {{ section.settings.side-richtext }}
</div>
  {% for block in section.blocks %}

      {% case block.type %}
      {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "t:sections.sidebar-rich-text.name",
  "settings": [
    {
      "type":"text",
      "id":"side-title",
      "label":"t:sections.sidebar-rich-text.settings.side-title.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.sidebar-rich-text.settings.image.label"
    },
    {
      "type": "richtext",
      "id": "side-richtext",
      "label": "t:sections.sidebar-rich-text.settings.side-richtext.label"
    } 
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.sidebar-rich-text.blocks.main_text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "main_richtext",
          "label": "t:sections.sidebar-rich-text.blocks.main_text.settings.main_richtext.label",
          "default": "<h1>Hier steht ein Beispiel</h1> <p>So könnte es aussehen</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.sidebar-rich-text.presets.rich_text_with_sidebar.name",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
