{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    </div>
  {%- endif -%}

  <div class="new-grid" data-view="6-3">
    {%- liquid
      assign isEmpty = true
      if section.blocks.size > 0
        assign isEmpty = false
      endif
    -%}

    {%- for block in section.blocks -%}
      {%- liquid
        assign product = all_products[block.settings.product]
        render 'vz-product-grid-item', product: product, block: block
      -%}
    {%- endfor -%}

    {%- if isEmpty -%}
      <div class="page-width">
        <div class="rte">
          {{ 'home_page.onboarding.no_content' | t }}
        </div>
      </div>
    {%- endif -%}

  </div>
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "t:sections.featured-collections.name",
  "class": "index-section",
  "max_blocks": 18,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.featured-collections.settings.title.label",
      "default": "Aluminium Profile & Platten"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.featured-collections.settings.divider.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "t:sections.featured-collections.blocks.collection.name",
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titel",
          "info": "Standardmäßig wird der Titel des Produkts verwendet"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Aluminium Profile & Platten",
      "blocks": [
        
      ]
    }
  ]
}
{% endschema %}
