
<!-- The Timeline -->

<ul class="timeline">

  
  {%- for block in section.blocks -%}
    <li>
    
		<div class="direction-{{ forloop.index | modulo: 2 | replace: '0', 'l' | replace: '1', 'r' }}">
			<div class="flag-wrapper">
				<span class="flag">{{ block.settings.year }}</span></span>
			</div>
			<div class="desc">{{ block.settings.text }}</div>
		</div>
	</li>
  
  {%- endfor -%}
  


{% schema %}
  {
    "name": "VZ Timeline",
    "settings": [],
    "blocks": [
      {
        "type": "text_block",
        "name": "Ereignis",
        "settings": [
          {
            "type": "text",
            "id": "year",
            "label": "Jahr",
            "default": "2024"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Beispiel Text.</p>"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "VZ Timeline",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
  }
{% endschema %}

